
{% include "vueEntete.html" %}
{% include "vueEnteteGestionnaire.html" %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
			<div class="col-md-3">
				<p class="alert alert-info" role="alert">Nous sommes le {{aujourdhuifr}}</p>
			</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>

		<table class ="table">
				<thead>
					<tr>
						<th scope="col">Inserée une Date de Fermature</th>
					</tr>
				</thead>
				<tbody>
					<tr></tr>
					<tr>
						<td> Date </td>
						<form action="/gestionnaire/reservation/dateferieInsert/insert" method = "post">
							<td><input type="date" name="date" placeholder="aaaa-mm-jj"></td>	

					</tr>
					<tr>
					<td> Libelle </td>
					<td><input type="text" name="libelle" placeholder="ex:nöel,New Year"></td>
					</tr>
					<tr></tr>
					<tr>
						<td><input type="submit" class="btn btn-success" value="Valider"></td>	
					</form>
							<td></td>	
						
						<form action="/gestionnaire/liste/avecCarte">
							<td><input type="submit" class="btn btn-danger" value="Return"></td>	
						</form>
						
					</tr>
					
				</tbody>
		</table
	</div>
</div>


{% include "vuePied.html" %}
